@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
.card:hover{
    background-color: #2f2d325c;
}
.contactGif{
    background-image: url("../../assets/gif1.gif");}

.imgBox{
    background-image: url("../../assets/gif3.gif");
}
.cardGif{
    background-image: url("../../assets/gif4.gif");
}
.liveButton:hover{
    background-image: url("../../assets/gif4.gif");
}
.edu{
    background-image: url("../../assets/gif5.gif");
}
